.navbar{
	min-height: 50px;
	border: solid black 2px;
	display:flex;
}
a{
	color:#333333;
	display:block;
	text-decoration: none;

}
.selected{
	background-color:#474747;
	color:white;
}
a:link{
	text-decoration: none;
}
.home a{
	color:#333333;
	display:block;
}
.glyphicon{
	font-size: 30px;
}
.home{
	padding:10px;
	border-right: solid black 2px;
}
h2{
	padding-top:13px;
	padding-bottom: 0px;
	padding-left: 11px;
	margin:0px;
}
.home:hover{
	background-color: #333333;
	color: white;

}
.saved_locations{
	width:220%;
	height: 100%;
	
}
.saved_locations:hover{
	background-color: #333333;
	color:white;
}
.header{
	margin-top:30%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: white;
	color:#333333;
	border-color:#333333;
	border-top:solid 2px;
	border-bottom:solid 2px;

}
.header:hover{
	background-color: #333333;
	color:white;
}
.row{
	display : flex;
	border:solid 2px;
	border-bottom: solid 1px;
	padding:4px;
}
.col{
	width:25%;
	text-align: center;
	padding-top: 7px;
}
#space{
	margin-top:70px;
	border-bottom: solid 1px;
}
